
<h2><strong>Menu</strong></h2>


<hr>
<ol>
{{#each burgers }}
<li>
    <div class='d-flex flex-row' id='burgerDiv'>
        <h3 class='p-2'>{{this.burger_name}}</h3>
        <button class='devourBtn p-2 btn btn-danger' value='{{burger_name}}' data-id={{this.id}}>Devour This Burger!</button>
    </div>
</li>
{{/each}}
</ol>

<hr>


<script type='text/javascript'>
/*
$('.devourBtn').on('click', function (event) {
    event.preventDefault();
    console.log('hello there')

    var devouredBurger = {
        burger_name: 
    }

    var id = $(this).data("id");

    // Send the POST request.
    $.ajax("/api/burgers" + id, {
      type: "PUT",
      data: devouredBurger
    }).then(
      function() {
        console.log(`devoured the ${this.name} burger`);
        // Reload the page to get the updated list
        location.assign("/");
      }
    );
})*/

</script>

