
<h2><strong>Menu</strong></h2>


<hr>
<ol>
{{#each burgers }}
<li>
    <div class='d-flex flex-row' id='burger'>
        <h3 class='p-2'>{{this.burger_name}}</h3>
        <button class='devourBtn p-2 btn btn-danger' name='{{burger_name}}' data-id={{this.id}}>Devour This Burger!</button>
    </div>
</li>
{{/each}}
</ol>

<hr>

