* {
    font-family: 'Yusei Magic', sans-serif;
}

body {
    background-color: rgb(250, 66, 66);
    text-align: center;
    color: rgb(182, 8, 8)
}

header {
    background-color: rgb(77, 36, 2);
    color: rgb(235, 252, 0);
    padding: 25px;
}

#burgerArt {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
}

.mainContainer {
    display: inline-block;
    align-items: center;
    margin-top: 30px;
}

#firstColumn {
    margin-right: 30px;
}

#secondColumn {
    margin-left: 30px;
}

#form-display {
    align-items: center;
    border: solid 5px rgb(77, 36, 2);
    padding: 10px;
}

hr {
    border: solid 1px rgb(182, 8, 8);
}

#menu,
#form-display,
#scarfed {
    padding: 10px;
    background-color: rgb(229, 240, 86);
    border: solid 5px rgb(77, 36, 2);
}

#burgerInput {
    margin-top: 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#burger {
    margin-top: 8px;
    margin-bottom: 8px;
}

#devoured {
    margin-top: 20px;
}

.devourBtn {
    height: 60%;
    margin-left: 20px;
}

.hide {
    display: none;
}